/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@font-face {
  font-family: 'Ivy Journal';
  src: url('webfonts/IvyJournal-SemiBold.woff') format('woff'),
      url('webfonts/IvyJournal-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ivy Journal';
  src: url('webfonts/IvyJournal-LightItalic.woff') format('woff'),
      url('webfonts/IvyJournal-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ivy Journal';
  src: url('webfonts/IvyJournal-Regular.woff') format('woff'),
      url('webfonts/IvyJournal-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ivy Journal';
  src: url('webfonts/IvyJournal-Light.woff') format('woff'),
      url('webfonts/IvyJournal-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ivy Journal';
  src: url('webfonts/IvyJournal-BoldItalic.woff') format('woff'),
      url('webfonts/IvyJournal-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ivy Journal';
  src: url('webfonts/IvyJournal-Bold.woff') format('woff'),
      url('webfonts/IvyJournal-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ivy Journal';
  src: url('webfonts/IvyJournal-ThinItalic.woff') format('woff'),
      url('webfonts/IvyJournal-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ivy Journal';
  src: url('webfonts/IvyJournal-Thin.woff') format('woff'),
      url('webfonts/IvyJournal-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ivy Journal';
  src: url('webfonts/IvyJournal-Italic.woff') format('woff'),
      url('webfonts/IvyJournal-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ivy Journal';
  src: url('webfonts/IvyJournal-SemiBoldItalic.woff') format('woff'),
      url('webfonts/IvyJournal-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
:root {
  --theme__color1: #4F36D6;
  --theme__color2: #FFA274;
  --theme__color3: #FF5C4D;
  --theme__color4: #ED3D69;
  --poppins: 'Poppins', sans-serif;
  --IvJournal: 'Ivy Journal';
}
*,::before,::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  line-height: 150%;
  background-color: #fff;
  color: #09100F;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--poppins);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 1299px) and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1222px;
  }
}



/* ---b-header--- */

.header-message {
  padding: 24px 32px;
  background: linear-gradient(90deg, #FF7369 0%, #D83848 111.81%);
  color: #fff;
}
.header-message .message-p {
  font-size: 16px;
  color: #09100F;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  text-align: center;
}

.b-header {

}
.b-header-in {
  padding: 16px 0;
}
.b-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b-header-logo {
  display: flex;
  align-items: center;
}
.b-header-logo img {

}
.b-header-right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.b-main-menu {
  margin-right: 35px;
}
.b-main-menu ul {
  gap: 38px;
  display: flex;
}
.b-main-menu ul li {

}
.b-main-menu ul li a {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /*  */
  transition: 0.3s;
  position: relative;
}
.b-main-menu ul li a:hover {
  color: #E75F5D;
}
.b-main-menu ul li a::after {
  content: '';
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #E75F5D;
  transform: scaleX(0);
  transition: 0.3s;
}
.b-main-menu ul li a.active::after,
.b-main-menu ul li a:hover::after {
  transform: scaleX(1);
}

.b-hi-menu {
  gap: 24px;
  display: flex;
}
.b-hi-menu li {

}
.b-hi-menu li a {
  transition: 0.3s;
}
.b-hi-menu li a:hover {
  opacity: 0.7;
}
.b-hr-btn {
  
}
/* ---b-header---end */


/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offmenu-open {
  display: none;
}
.offcanvas-open:hover {
  color: var(--theme__color1);
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  font-size: 22px;
  line-height: 1;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #fff;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.offcanvas-menu ul li a {
  display: block;
  text-align: center;
  font-size: 15px;
  color: var(--theme__color1);
  padding: 8px;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/



/* ---b-footer-section--- */
.b-footer {
  background: url('images/collection/b-footer-bg.png') no-repeat bottom right/auto 100%, #09100F;
  color: #fff;
}
.b-footer__inner {

}

.b-footer-top__area {

}
.b-footer-top__top {
  padding: 94px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b-foot-tt-title {
  position: relative;
}
.b-foot-tt-title .t-shape {
  width: 75px;
  top: -36px;
  left: -35px;
  position: absolute;
}
.b-foot-tt-title h3 {
  font-size: 24px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.333%; /*  */
  letter-spacing: -0.96px;
}
.b-foot-tt-title p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /*  */
  color: #FBFAFB;
  margin-bottom: 0;
}
.b-foot__tt-cta {
  display: flex;
  gap: 25px;
}
.b-foot__tt-cta .input {
  font-size: 16px;
  display: flex;
  width: 357px;
  min-height: 41px;
  padding: 8px 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /*  */
  color: #F9F8F5;
  border-radius: 5px;
  background: rgba(249, 248, 245, 0.10);
  border: 1px solid transparent;
}
.b-foot__tt-cta .submit-button {

}

.b-footer-top__bottom {
  padding: 48px 0;
  border-top: 1px solid #fff;
}
.b-foot-tb-menu-row {
  display: flex;
}
.b-foot-tb-menu {
  gap: 60px;
  width: 14.285714%;
}
.b-foot-tb-menu__title {

}
.b-foot-tb-menu__title h4 {
  font-size: 16px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  color: #F9F8F5;
}
.b-foot-tb-menu__main {

}
.b-foot-tb-menu__main__inner {

}
.b-foot-tb-menu__main__inner {

}
.b-foot-tb-menu__main__inner ul {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.b-foot-tb-menu__main__inner ul li {

}
.b-foot-tb-menu__main__inner ul li a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; /* 121.429% */
  color: #AEAEAE;  
  transition: 0.3s;
}
.b-foot-tb-menu__main__inner ul li a:hover {
  color: var(--theme__color1);
}


.b-footer-bottom__area {

}
.b-footer-bottom__top {
  padding: 0 0 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.b-foot-bt__title {

}
.b-foot-bt__logo {

}
.b-foot-bt__logo img {

}
.b-foot-bt--h-share {

}
.b-foot-bt--h-share .h-share-ul li a {
  color: #815248;
}
.b-footer-bottom__bottom {
  padding: 24px 0 80px;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}
.b-foot-bb-a {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  color: #F9F8F5;
}
.b-foot-bb-a:hover {

}


/* h-share */
.h-share {
  margin-top: 16px;
}
.h-share h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /*  */
}
.h-share ul {
  display: flex;
  gap: 15px;
}
.h-share ul li {

}
.h-share ul li a {
  height: 32px;
  width: 32px;
  padding: 2px 0 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  color: #4D1FBC;
  transition: 0.3s;
}
.h-share ul li a:hover {
  color: #fff;
  background: var(--theme__color4);
}
.h-share-ul--black-text ul li a {
  color: #000;
}
/* ---b-footer-section---end */

/* ---u-power-section--- */
.u-power-section {
  padding: 80px 0;
  background: #0A100F;
  color: #fff;
  position: relative;
  z-index: 2;
}
.u-power-top-shape {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
}
.u-power-section__inner {

}
.u-power-title {
  margin-bottom: 80px;
}
.u-power-title .h1 {
  font-size: 96px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 86px; /* 89.583% */
  letter-spacing: -3.84px;
  color: #F9F8F5;
}
.u-power-title .h1 .style-1 {
  background: var(--Coral-Gradient, linear-gradient(90deg, #FF7369 0%, #D83848 111.81%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--IvJournal);
  font-style: italic;
  padding: 30px;
  margin: -30px;
  margin-top: -35px;
}
.u-power-title p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  color: #F9F8F5;
}

.up-ques {
	margin-bottom: 30px;
}
.up-ques__title {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.up-ques__title .h2 {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 103.571% */
  letter-spacing: -2.24px;
}
.up-ques__title .buttons {
  display: flex;
  gap: 16px;
}
.up-ques__title .buttons .button {

}

.ind-input {
  position: relative;
}
.ind-input .input {
  font-size: 16px;
  height: 63px;
  padding: 8px 24px;
  border-radius: 5px;
  border: 1px solid #F9F8F5;
  background: rgba(249, 248, 245, 0.10);
  width: 100%; 
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  color: #F9F8F5;
  transition: 0.3s;
}
.ind-input .input:focus {
  border-color: #F9F8F5;
  background: #F9F8F5;
  color: #09100F;
}
.ind-input .send-button {
  padding: 10px;
  position: absolute;
  top: 50%;
  right: 26px;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
}
.ind-input .send-button svg [fill="#AEAEAE"] {
  transition: 0.3s;
}
.ind-input .send-button:hover svg [fill="#AEAEAE"] {
  fill: #FF5C4D;
}


.up-ans {

}
.up-ans__r1 {
  display: flex;
}
.up-ans__main__outer {
  flex-grow: 1;
}
.up-ans__main {

}
.up-ans__m__title {
  margin-bottom: 24px;
}
.up-ans__m__title .h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.96px;
}
.up-ans__m-box {
  gap: 24px;
  display: flex;
}
.up-ans__m-box__abtr {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background: #65C9BD;
}
.up-ans__m-box__abtr img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.up-ans__m-box__ms {
  flex-grow: 1;
  width: 0;
}
.up-ans__m-box__ms__field {
  padding: 24px 16px;
  min-height: 170px;
  border-radius: 5px;
  border: 1px solid var(--Greyish-Black, #6C6C6C);
  width: 100%;
  background: transparent;
  resize: none;
  color: #F9F8F5;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
}
.up-ans__m-box__ms__bt {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.up-ans__m-box__ms__bt__options {
  display: flex;
  align-items: center;
  gap: 16px;
}
.up-ans__m-box__ms__bt__options .button {

}
.up-ans__m-box__ms__bt__options .icon-button {
  padding: 3px 3px;
  color: #AEAEAE;
  transition: 0.3s;
}
.up-ans__m-box__ms__bt__options .icon-button:hover {
  color: var(--theme__color4);
}
.up-ans__m-box__ms__bt__ask {
  display: flex;
  align-items: center;
  gap: 16px;
}
.up-ans__m-box__ms__bt__ask p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  margin: 0;
  color: #F9F8F5;
}
.up-ans__m-box__ms__bt__ask__options {
  display: flex;
  gap: 16px;
  align-items: center;
}
.up-ans__m-box__ms__bt__ask__options .option-a {
  color: #F9F8F5;
  transition: 0.3s;
}
.up-ans__m-box__ms__bt__ask__options .option-a:hover {
  color: var(--theme__color4);
}

.up-ans__side {
  flex-shrink: 0;
  width: 384px;
  padding-left: 32px;
  margin-left: 32px;
  border-left: 1px solid #fff;
}

.up-ans__side {

}
.xq-group {

}
.xq-group__title {
  margin-bottom: 16px;
  padding: 0 0 13px;
  border-bottom: 1px solid #FF5C4D;
}
.xq-group__title h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.xq__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.xq_item {
  padding: 8px 16px;
  display: flex;
  gap: 16px;
  align-items: flex-start;
  border-radius: 5px;

  transition: 0.3s;
}
.xq_item:hover {
  background: rgba(249, 248, 245, 0.10);
}
.xq_item .icon {
  margin-top: 3px;
  font-size: 19px;
}
.xq_item .text {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
}
/* ---u-power-section---end */


/* ---contribute-section--- */
.contribute-section {
  padding: 80px 0;
  background: #0A100F;
  color: #fff;
  position: relative;
  z-index: 1;
  position: relative;
  z-index: 1;
}
.contribute-bottom-bg-shape {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.contribute-section__inner {
  position: relative;
}
.cont-in-br-shape {
  position: absolute;
  bottom: 0;
  right: 0;
}
.contribute-content {
  max-width: 688px;
}
.contribute-content .h3-d {
  padding-bottom: 22px;
  margin-bottom: 24px;
  border-bottom: 1px solid #AEAEAE;
  position: relative;
}
.contribute-content .h3-d .h3-shape {
  position: absolute;
  top: 10px;
  right: 190px;
}
.contribute-content p {
  font-size: 16px;
  max-width: 650px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
}
.contribute-content .bottom-button {
  margin-top: 8px;
}
/* ---contribute-section---end */


/* ---b-mark-section--- */
.b-mark-section {
  padding: 80px 0;
  background: #F9F8F5;
}
.b-mark-section__inner {
  display: flex;
  justify-content: space-between;
}
.b-mark__content {
  width: 630px;
}
.h3-d {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 103.571% */
  letter-spacing: -2.24px;
}
.h3-d .stl-1 {
  font-family: var(--IvJournal);
  font-style: italic;
  font-size: 56px;
  font-style: italic;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -2.24px;
  background: linear-gradient(90deg, #FF7369 0%, #D83848 111.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: IvyJournal;
  padding: 20px;
  margin: -20px;
  margin-top: -30px;
}
.b-mark__content h3 {
  margin-bottom: 15px;
}
.b-mark__content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
}
.b-mark__content .el-shape {
  margin-top: 26px;
}
.b-mark__content .el-shape img {

}
.b-mark__content .bottom-buttons {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}
.b-mark__content .bottom-buttons .button {

}
/* ---b-mark-section---end */


/* ---f2-section--- */
.f2-section {
  padding: 80px 0;
  background: #0A100F;
  color: #fff;
  position: relative;
  z-index: 1;
}
.f2-sec-bottom-ellipse {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.f2-section__inner {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.f2-sec__content {
  width: 450px;
}
.f2-sec__content h3 {
  margin-bottom: 14px;
}
.f2-sec__content h3 .stl-1 {
  background: #65C9BD;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.f2-sec__content p {
  margin-right: 70px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
}
.f2-sec__content .bottom-button {
  margin-top: 8px;
}
.f2-sec__image {

}
.f2-sec__image .img {

}
/* ---f2-section---end */


/* ---love-p-section--- */
.love-p-section {
  padding: 80px 0;
  background: linear-gradient(90deg, #FF7369 0%, #D83848 111.81%);
}
.love-p-section__inner {

}
.love-p__content {

}
.love-p__content .h3-d {
  margin-bottom: 15px;
}
.love-p__content .h3-d .stl-1 {
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.love-p__content .title-line-1 {
  margin-bottom: 25px;
}
.love-p__content p {
  font-size: 16px;
  max-width: 650px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
}
.love-p__content .bottom-buttons {
  margin-top: 8px;
}
/* ---love-p-section---end */


/* ---dropdown-h--- */
.dropdown-h {
  position: relative;
  z-index: 10;
}
.dropdown-h-menu {
  width: 311px;
  max-width: calc(100vw - 30px);
  padding: 24px;
  border-radius: 5px;
  border: 1px solid #D4D4D4;
  background: #F9F8F5;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  color: #09100F;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  transform: translate(0, 5px);
}
.dropdown-h:hover .dropdown-h-menu {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0px);
}
.dropdown-h-menu-end {
  left: unset;
  right: 0;
}

.d-menu {
  margin-bottom: 24px;
}
.d-menu h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  color: #09100F;
  border-bottom: 1px solid #FF7369;
  padding: 0 0 7px;
  margin: 0 0 18px;
}
.d-menu ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.d-menu ul li {

}
.d-menu ul li a {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  color: #09100F;
  display: flex;
  gap: 8px;
}
.d-menu ul li a:hover {
  color: var(--theme__color4);
}
.d-menu ul li a .icon {
  height: 16px;
  width: 16px;
  margin-top: 4px;
  font-size: 9px;
  border-radius: 50%;
  flex-shrink: 0;
  background: #74C9BD;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #09100F;
}
.d-menu ul li a .icon.icon-rd {
  background: linear-gradient(90deg, #FF7369 0%, #D83848 111.81%);
  color: #fff;
}
.d-menu ul li a .icon .fa-check {
  margin-top: 2px;
}
/* ---dropdown-h---end */


/* ---modal--- */
.modal-opened {
  overflow: hidden;
  padding-right: 17px;
}
@media (max-width: 767px) {
  .modal-opened {
      padding-right: 0;
  }
}
.custom-modal {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(9, 16, 15, 0.70);
  z-index: 1000000;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.custom-modal.modal-show {
  opacity: 1;
  visibility: visible;
}
.custom-modal .modal-inner {
  padding: 0 12px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  padding: 25px 0;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  max-height: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  transform: translateY(-70px);
  transition: 0.45s;
}
.modal-show .modal-content {
  transform: translateY(0px);
}
.modal-content::-webkit-scrollbar {
  display: none;
}
.modal-content-visible-area {
  width: 720px; /*width must */
  padding: 32px 40px;
  border-radius: 12px;
  max-width: 100%;
  background: #F9F8F5;
}
.modal-close {
  font-size: 22px;
  transition: 0.3s;
}
.modal-close:hover {
  color: var(--theme__color4);
}


.modal-header {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
  justify-content: space-between;
}
.modal-header h3 {
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 95.238% */
  letter-spacing: -1.68px;
}
.modal-header h3 .stl-1 {
  font-size: 42px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -1.68px;
  font-family: var(--IvJournal);
  background: linear-gradient(90deg, #FF7369 0%, #D83848 111.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.modal-body {

}
.m-prompt-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 405px;
  overflow: auto;
}
.m-prompt-item {
  padding: 16px 24px;
  gap: 20px;
  border-radius: 5px;
  border: 1px solid #D4D4D4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.m-prompt-it {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 125% */
}
.m-prompt-item .bookmark-btn {

}
/* ---modal---end */